backend/.env
backend/__pycache__/
.vscode/
*.pyc
.env 

#Python generate files
__pycache__/
*.py[co]

#virtual environments
venv/
.venv/

# Large data files (>50MB, push manually)
backend/services/zhvi_zip.csv

